@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-y: hidden;
    background-color: #1d1c1c;
    min-width: 400px;
}

header {
    height: 10vh;
    max-height: 5rem;
}

.nav-bar {
    color: #fff;
    background-color: #283593;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    flex-grow: 1;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.nav-links {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav-link {
    padding: 0 .8rem;
    text-align: right;
}

.nav-link a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90vw;
    margin-top: 2rem;
    height: 85vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.article-content {
    margin-bottom: 3rem;
    border-radius: 3.5rem;
    background-color: #383737;
    color: white;
    padding: 2rem;
    margin-right: 1rem;
    flex: 1 1 30rem;
}

.section-title {
    margin-bottom: 1rem;
}

/* width */
::-webkit-scrollbar {
    width: .4rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #283593; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #111746; 
  }